[DEFAULT]
verbose=True
api_paste_config = api-paste.ini
auth_strategy = keystone
api_listen = 0.0.0.0
api_listen_port = 5556
server_listen = 0.0.0.0
server_listen_port = 5557
broadcast_listen = 127.0.0.1
broadcast_listen_port = 5558
feedback_listen = 127.0.0.1
feedback_listen_port = 5559
sql_connection=mysql://root:nova@127.0.0.1:3306/nozzle
nova_admin_username=nova
nova_admin_password=nova
nova_admin_tenant_name=service
nova_admin_auth_url=http://localhost:5000/v2.0
nova_region_name=RegionOne
rabbit_userid=guest
rabbit_password=nova
notification_driver=nozzle.openstack.common.notifier.rabbit_notifier
notification_topics=loadbalancer
control_exchange=nova

[nginx]
listen = 127.0.0.1:80
access_log_dir = /var/log/nginx
configuration_backup_dir = /var/lib/nozzle/backup/nginx


[haproxy]
listen = 127.0.0.1
listen_port_range = 10000,61000
configuration_backup_dir = /var/lib/nozzle/backup/haproxy
